@using Telerik.Web.Mvc.UI
@model MvcFront.Models.AssetEditModel


        <legend>Папка документов</legend>


        @Html.HiddenFor(model => model.AssetId)
         @Html.HiddenFor(model => model.AssetFolderId)

        <div class="editor-label">
                    @Html.LabelFor(model => model.Comment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comment)
            @Html.ValidationMessageFor(model => model.Comment)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Files)
        </div>
        <div class="editor-field">
            @Html.Telerik().Upload().Name("Files").Multiple(false)
            @Html.ValidationMessageFor(model => model.Files)
        </div>

  