@model MvcFront.Models.DocAppointmentEditModel

@{
    ViewBag.Title = "Создание формы";
}

<h2>
    Редактор документа</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.EditorForModel()
    </fieldset>
<p>
    <input type="submit" value="Создать"/>
    @Html.ActionLink("Отмена", "Index")
</p>
}
    