@model MvcFront.DB.Document

@{
    ViewBag.Title = "Details";
}

<h2>Информация</h2>

<fieldset>
    <legend>@Html.DisplayFor(model => model.DocumentName)</legend>

    <div class="display-label">@Html.LabelFor(model => model.CreationDate)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreationDate)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.LastEditDate)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastEditDate)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.DocStatus)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.LastComment)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastComment)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.DocumentName)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DocumentName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.documentid }) |
    @Html.ActionLink("Отмена", "Index")
</p>
