@model MvcFront.Models.UserGroupEditModel

@{
    ViewBag.Title = "Create";
}

<h2>Новая группа</h2>

@using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
    <fieldset>
        <legend>Новая группа</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.GroupName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GroupName)
            @Html.ValidationMessageFor(model => model.GroupName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FullGroupName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FullGroupName)
            @Html.ValidationMessageFor(model => model.FullGroupName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Manager)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Manager)
            @Html.ValidationMessageFor(model => model.Manager)
        </div>

         
    </fieldset>
    <p>
            <input type="submit" value="Создать" />|
            @Html.ActionLink("Отмена", "Index")
        </p>
}

