@model MvcFront.DB.UserGroup

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>
<h3>Вы действительно хотите удалить данную группу?</h3>
<fieldset>
    <legend>Группа @Html.DisplayFor(model => model.FullGroupName)</legend>

    <div class="display-label">Полное имя группы</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullGroupName)
    </div>

    <div class="display-label">Имя группы</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GroupName)
    </div>

    <div class="display-label">Менеджер группы</div>
    <div class="display-field">
        @string.Format("{1} {0} {2} ({3})", Model.Manager.FirstName, Model.Manager.SecondName, Model.Manager.LastName, Model.Manager.Login)
    </div>

    <div class="display-label">Статус</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GroupStatusText)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Отмена", "Index")
    </p>
}
