@model MvcFront.Models.LogOnModel

@{
    ViewBag.Title = "Вход";
}

<h2>Вход</h2>

@Html.ValidationSummary(true, "Авторизация не удалась. Пожалуйста попробуйте еще.")

@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>Информация о пользователе</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>

            <p>
                <input type="submit" value="Вход" />
            </p>
        </fieldset>
    </div>
}
