@model MvcFront.DB.UserAccount

@{
    ViewBag.Title = "ChangeState";
}
    @Html.ValidationSummary(true)
<h2>Включение/Отключение</h2>
@{
    var newStatusText = Model.UserStatus == MvcFront.Enums.UserAccountStatus.Active ? "Неактивный" : "Активный";    
}
<h3>Вы действительно желаете сменить статус @Html.DisplayFor(model => model.FullName) c @Model.UserStatusText на @newStatusText?</h3>
<fieldset>
    <legend>Пользователь</legend>

    <div class="display-label">Логин</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Login)
    </div>

    <div class="display-label">Имя</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">Фамилия</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SecondName)
    </div>

    <div class="display-label">Отчество</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>
    
    <div class="display-label">Статус</div>
    <div class="display-field">
            @Html.DisplayFor(model => model.UserStatusText)
    </div>
    
    <div class="display-label">Последний вход</div>
    <div class="display-field">
         @{
             if (Model.LastAccess == null)
             {
            <text>Никогда</text>
             }
             else
             {
            @Html.DisplayFor(model => model.LastAccess)
             }
    }
    </div>

    <div class="display-label">Администратор</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsAdmin)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Выполнить " /> |
        @Html.ActionLink("Отмена", "Index")
    </p>
}
