@model MvcFront.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<h2>Смена пароля</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Не удалось изменить пароль, пожалуйста попробуйте еще раз.")
    <div>
        <fieldset>
            <legend>Информация о пользователе</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <p>
                <input type="submit" value="Изменить" />
            </p>
        </fieldset>
    </div>
}
