@model MvcFront.DB.DocTemplate


    <legend>Шаблон документа</legend>

    <div class="display-label">@Html.LabelFor(model => model.TemplateName)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TemplateName)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.Status)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.Comment)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comment)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.LastEditDate)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastEditDate)
    </div>

