@model MvcFront.Models.CustomDocReportModel

@{
    ViewBag.Title = "title";
}
<h2>@Model.Name</h2>
@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.DocReportId)
    @Html.HiddenFor(model => model.Name)
    <h3>Выберите пользователей который будут входить в отчет</h3>
    @Html.EditorFor(x => x.Users)
    <button type="submit">Сформировать</button>
}
@Html.DisplayFor(model => model.ReportTableView)