@model MvcFront.Models.ReportTableViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.Name</title>
    <link href="@Url.Content("~/Content/Reports.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src='@Url.Content("~/Scripts/2012.1.214/jquery-1.7.1.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/ReportScripts.js")'></script>
</head>
    <body>
        @Html.DisplayForModel()
    </body>
</html>
