@using MvcFront.Enums
@using MvcFront.Helpers
@using Telerik.Web.Mvc.UI
@{
    UICulture = "ru-RU";
}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
  
    @(Html.Telerik().StyleSheetRegistrar()
                      .DefaultGroup(group => group
                          .Add("telerik.common.css")
                          .Add("telerik.vista.min.css")
                          .Combined(true)
                          .Compress(true))
          )
    <script type="text/javascript" src='@Url.Content("~/Scripts/2012.1.214/jquery-1.7.1.min.js")'></script>
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>
                    Система Менеджмента Качества</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Профиль", "Index", "Account")</li>
                    <li>@Html.ActionLink("Библиотека форм", "Index", "Library")</li>
                    @{
                        var sessState = SessionHelper.GetUserSessionData(Session);
                        if (sessState != null)
                        {
                            switch (sessState.UserType)
                            {
                                case UserProfileTypes.Systemadmin:
                                    <li>@Html.ActionLink("Пользователи", "Index", "UserAccountList")</li>
                                    <li>@Html.ActionLink("Группы", "Index", "UserGroupList")</li>
                                    <li>@Html.ActionLink("Формы", "Index", "DocTemplateList")</li>
                                    <li>@Html.ActionLink("Редактор библиотеки", "EditAssetLibrary", "Library")</li>
                                   break;
                                case UserProfileTypes.Groupmanager:
                                    <li>@Html.ActionLink("Документы группы", "Index", "ManagerDocument")</li>
                                    <li>@Html.ActionLink("Формы группы", "Index", "GroupDocAppointment")</li>
                                   break;
                                case UserProfileTypes.Groupuser:
                                    <li>@Html.ActionLink("Документы", "Index", "UserDocument")</li>
                                    <li>@Html.ActionLink("Документы для заполнения", "UserDocAppointments", "UserDocument")</li>    
                                   break;
                                case UserProfileTypes.User:
                                   break;
                                case UserProfileTypes.Anonymous:
                                   break;
                                default:
                                   throw new ArgumentOutOfRangeException();
                            }
                        }
                    }
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>
       @( Html.Telerik().ScriptRegistrar().jQuery(false)
              .DefaultGroup(group => group
                                         .Add("telerik.all.min.js")
                                         .Add("~/Scripts/jquery.watermark.min.js")
                                         .Add("~/Scripts/jquery.validate.min.js")
                                         .Add("~/Scripts/jquery.validate.unobtrusive.min.js")
                                         .Compress(true))
              .Globalization(true))
</body>
</html>
